.bookieBackground {
  background-image: url("/image/bg_try.gif"), url("/image/bookiebg1.png");
  background-size: auto, 20%;   /* multiple background layers */
  background-repeat: auto, space;
}

.pixelated {
  image-rendering: pixelated;       /* Modern browsers */
  image-rendering: crisp-edges;     /* Fallback */
  -ms-interpolation-mode: nearest-neighbor; /* IE fallback */
}
