/* pixelButtons.css */
.pixelButton {
  display: inline-block;
  font-size: 1rem;
  color: white; /* you can customize */
  border-radius: 4; /* or var(--btn-radius) if you want rounded */
  border: 2px solid #000; /* default outline */
  background: #800080; /* default background */
  box-shadow: 0px 4px 0 #000;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  image-rendering: pixelated;
  margin: 0.5%;
  padding: 0.5rem 1rem;
}

.pixelButton:hover {
  background: linear-gradient(to bottom, #ffa9b8, #ff605f);
  border-color: #ff1a14;
}

.pixelButton:active {
  transform: translateY(4px);
  box-shadow: 0 0 #000;
}
